#files being edited
*~

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym
*.DS_Store

# I keep these, since I prefer having the reference of the final build
# *.elf
# *.hex

.idea/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
run
cpp_project.cbp
